In [9]:
transaction = {
    100: ['a','b',100],
    101 : ['c','d',300],
    102: None}

In [10]:
for i in transaction:
    print(i)

100
101
102

In [11]:
for i in transaction.values():
    if i != None:
        print(i)
    else:
        print('Invalid transaction')

['a', 'b', 100]
['c', 'd', 300]
Invalid transaction

In [12]:
#case 1
num = 10
if None:
    print('number is positive')
print('This will print always')

This will print always

In [15]:
# Nested if's
num = -3
if num>1:
    if num>10:
        print('Number is larger than 10')
    else:
        print('Number is betwen 1 and 10')
else:
    print('Number is less than 1')

Number is less than 1

In [ ]:
# in range fn the end value is excluded.

In [16]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [17]:
x = [1,2,3,4,5]
for i in x:
    print(i)
else:
    print('Nothing in x')

1
2
3
4
5
Nothing in x

In [21]:
flag =1
x = 6
for i in range(2,x):
    if x%i==0:
        flag = 0
        break
if flag ==1:
    print('Prime')
else:
    print('Not Prime')

Not Prime

In [22]:
val1 = 20
val2 = 60

print('Write the prime number between {0} and {1}.'.format(val1,val2))
for num in range(val1, val2+1):
    isPrime = True
    for i in range(2,num):
        if num%i==0:
            isPrime = False
    if isPrime :
        print(num)

Write the prime number between 20 and 60.
23
29
31
37
41
43
47
53
59

In [ ]:
# break - it will come out of the loop entirely.
#continue
# None

In [3]:
x = [1,2,3,4,5]
for num in x:
    if num %2==0:
        continue
    print(num)
else:
    print("List data over!")

1
3
5
List data over!

In [7]:
# To check if all the seats are in the same compartment

x = [11,11,11,12]
flag = True
val = x[0]
for i in x:
    if i!=val:
        flag = False
        break
if flag == True:
    print('Seat allocated')
else:
    print('Seat not allocated')

Seat not allocated

In [8]:
l = [1,2,3,4]
l2 = [5,6,7,8]
l2.append(9)
print(l2)
l2.remove(5)
print(l2)
l.insert(4,5)
print(l)
l.extend(l2)
print(l)

[5, 6, 7, 8, 9]
[6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
a =[10,3,56,7,22,9]
b = sorted(a)
c = sorted(a, reverse=True)
print(b)
print(c)
a.count(7)

[3, 7, 9, 10, 22, 56]
[56, 22, 10, 9, 7, 3]

In [10]:
string = 'i,am,learning,python'
listValue = string.split(',')
print(listValue)

['i', 'am', 'learning', 'python']

In [11]:
print(listValue[-1])

python

In [12]:
listComp = [i for i in range(5)]
print(listComp)

[0, 1, 2, 3, 4]

In [14]:
l = [1,2,3,5,3,5,6,7,0,9]
print(l.count(3))

2

In [15]:
powelist = [i**2 for i in range(10)]
print(powelist)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
matrix = [
    [1,2,3,4],
    [6,8,3,4],
    [7,8,9,3]
]

newmatrix = []
for i in range(4):
    l = []
    for j in range(3):
        l.append(matrix[j][i])
    newmatrix.append(l)
for i in newmatrix:
    print(i)

[1, 6, 7]
[2, 8, 8]
[3, 3, 9]
[4, 4, 3]

In [ ]:
#Assignment 
# using and without using functions we need to perofrm transpose of a matrix.